.custom-wrapper {
  padding: 3em;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .intro img {
    margin-bottom: 2em;
  }
  .intro {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .custom-wrapper {
    margin-top: 25px;
    padding: 1.2em !important;
  }
}
